@font-face {
    font-family: title;
    src: url(zekton-rg.ttf);
}
@font-face {
    font-family: header;
    src: url(larabiefont-rg.ttf);
}
@font-face {
    font-family: textfont;
    src: url(pakenham-rg.ttf);
}
body {
    margin: 0;
    background-image: url("img.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
overflow: hidden;
}

* {
margin: 0;
padding: 0;
}

#content {
position: fixed;
width: auto;
height: auto;
top: 20px;
left: 20px;
right: 20px;
}

#home {
}

#context {
margin: 16px;
}

#titleSTR {
background-color: rgba(255,255,255,0.75);
padding: 24px;
border: 2px solid #5B8295;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
font-family: title;
font-size: 22px;
color: #303030;
box-shadow: 0px 0px 10px rgba(0,0,0,0.50);
}

.horizontal {
display: inline-block;
}

.black {
background-color: #000000;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
}

.subtitleSTR {
border-radius: 6px;
font-family: textfont;
font-size: 20px;
color: #FFFFFF;
padding: 6px;
}

#scroll-info {
border-radius: 6px;
overflow: auto;
position: fixed;
width: auto;
height: auto;
top: 156px;
bottom: 20px;
left: 20px;
right: 20px;
box-shadow: 0px 0px 10px rgba(0,0,0,0.50);
background-color: rgba(255,255,255,0.75);
}

#infos {
}

.infodiv {
background-color: #561A7B;
padding: 24px;
}

.sbtitle {
font-family: textfont;
font-size: 16px;
color: #FFFFFF;
padding-right: 10px;
padding-left: 10px;
padding-top: 4px;
padding-bottom: 4px;
}

.rightImg {
width: 200px;
margin: 48px;
}

.filled {
height: auto;
}
